body {
  height: 97vh;
  font-family: "Open Sans", sans-serif;
}

.board {
  display: grid;
  height: 300px;
  width: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  margin: 0 auto;
  gap: 2px;
  padding: 2px;
  background-color: rgb(192, 174, 174);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  background: rgb(247, 247, 82);
  cursor: pointer;
}

.container {
  display: none;

}

h1,
h2 {
  text-align: center;
}

.start-screen {
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.players {
  display: flex;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
}

.start {
  margin: 0 auto;
  margin-top: 15px;
}

.score-board {
  display: none;
  flex-direction: column;
  width: 150px;
  justify-content: space-between;
  margin: 0 auto;
}

.modal {
  height: 100px;
  transition-timing-function: ease-in;
  transition: .2s;
}

.modal-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* position: relative; */
}


.modal .close {
  width: 25px;
  align-self: flex-end;
  background-color: white;
  border: none;
  font-weight: 600;
  /* position: absolute; */
  right: 0px;
  top: 4px;
}

.modal-win {
  font-size: 16px;
}

.close {
  cursor: pointer;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.wrap div {
  display: inline;
}

.wrap div p {
  display: inline;
}

h3 {
  text-align: center;
}

.play-again {
  display: inline-block;
}

#p-a {
  margin-top: 1rem;
  display: none;
}

.pa-btn {
  display: flex;
  justify-content: center;
}

.vs {
  margin: 10px 15px 0px 15px;
}